[Unit]
Description={{ item.description }}
Requires=docker.service
BindsTo=docker.service
{% if systemd_docker_after_target is defined %}
After=network.target {{ systemd_docker_after_target }}
{% endif %}
Conflicts=shutdown.target reboot.target halt.target

[Service]
TimeoutStartSec=0
TimeoutStopSec=30
Restart=on-failure
RestartSec=10

WorkingDirectory={{ item.docker_working_dir }}

ExecStartPre=-/usr/bin/docker-compose -f docker-compose.yml kill
ExecStartPre=-/usr/bin/docker-compose -f docker-compose.yml rm
ExecStartPre=-/usr/bin/docker-compose -f docker-compose.yml rm -f

ExecStart=/usr/bin/docker-compose -f docker-compose.yml up --force-recreate --no-deps

ExecStop=/usr/bin/docker-compose -f docker-compose.yml stop

NotifyAccess=all

[Install]
WantedBy=multi-user.target